@use "../abstracts/mixins" as mix;
* { box-sizing: border-box; }


body { margin: 0; 
  padding-left: 25%;
  @include mix.tablet-styles {
    padding-left: 0;
    padding-top: 10%;
  }
  @include mix.mobile-l-styles {
    padding-top: 4.25rem;
  }
}

h1,
h2,
h3,
p,
ul { margin-top: 0; }

img {
  display: block;
  max-width: 100%;
}